@tailwind base;
@tailwind components;
@tailwind utilities;


/* Homepage override */
.homepageP {
    margin: 0px;
}

#hpHeroContainer {
  margin: 82px 0;
}

#hpHeader1 {
  margin-top: 3rem;
  border-radius: 0.75rem;
  font-weight: 500;
}

#hpHeader2 {
  color: black;
  font-size: clamp(40px, 5vw, 60px);
  line-height: 60px;
  font-weight: 700;
}

#hpLinkDiv {
  margin-top: 20px;
  border-radius: 1.25rem;
  background-color: black;
}

#hpLinkDiv:hover {
  background-color: white; /* parent background */
  color: black;            /* parent text */
}

#hpLinkDiv a {
  padding: 0.5rem 0px;
  color: white;
  font-weight: 700;
}

#hpLinkDiv a:hover {
  color: black;  
}

/* Homepage form override*/
.finance-contact__form-row textarea {
  appearance: none;
  background-color: #fff;
  border: 1.11111px solid #fff;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;      /* will be overridden at desktop by same media query */
  line-height: 28px;    /* same */
  padding: 3px 3px 3px 13px;
  width: 100%;
  resize: none;
  transition: all 0.3s ease;
}

/* Contact form override */
form .formError {
  margin-top: 1px;
  color: red;
}

form div.finance-contact__form-row input.red-border {
  border: 2px solid red;
  border-radius: 7px;
}

.finance-contact__form-wrapper h2.title.title--02 {
  letter-spacing: 0px;
}

.finance-contact__form-row input.wpcf7-form-control.wpcf7-submit {
  letter-spacing: 1px;
}

/* Industries partners swiper override/fix */
.swiper-wrapper {
  transition-timing-function:linear!important; 
}
